<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error{
            color: magenta;
        }
    </style>
</head>
<body>
    <a href="/">Home Page</a>
    <h1>Login Page</h1>
 
  
    <form method="post">
        Username: <input name="username" type="text" /></br><br/>
        Password: <input name="password" type="text" /></br><br/>
        <!-- Email: <input name="email" type="email" /></br><br/> -->
        <input type="submit" value="Login" /></br>
    </form>

</body>
</html>